.bg-dark {
    background-color:#363d42;
}

.nav-link {
    border-radius: 5px;
    margin: 1px;
    color: #fff !important;
}

.nav-link.active {
    background-color: #f1f0f0;
    color: #363d42 !important;
}

.nav-link:hover {
    background-color: #97aebe;
}